<h1 class="mb-4">List of members</h1>

<p-table [value]="users" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
  styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Phone</th>
      <th>Field</th>
      <th>Year</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role_club }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.field }}</td>
      <td>{{ user.year }}</td>
      <td>
        <button type="button" pButton pRipple icon="pi pi-user-edit" class="p-button-sm m-2"
          (click)="openEditDialog(user)" *ngIf="canShowActions(user)"></button>
        <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-sm m-2"
          (click)="openDeleteDialog(user)" *ngIf="canShowActions(user)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>