<div class="box">
    <div class="container">
        <div class="row">
            <div class="column">
                <img src="https://www.uir.ac.ma/assets/_resources/img/logo-10ans.png" alt="UIR Logo"
                    style="width: 250px; margin-bottom: 30px;">
                <a href="#">Université Internationale de Rabat Technopolis Rabat-Shore Rocade Rabat-Salé</a>
                <a href="#">+212 (0)530103000</a>
                <a href="#">contact@uir.ac.ma</a>
            </div>
            <div class="column">
                <h3>Notre institution</h3>
                <a href="#">Mot du Président</a>
                <a href="#">Un modèle innovant</a>
                <a href="#">Vision, mission et valeurs</a>
                <a href="#">Engagements</a>
                <a href="#">Reconnaissance</a>
                <a href="#">Distinctions</a>
                <a href="#">Partenaires</a>
            </div>
            <div class="column">
                <h3>Vie dans le campus</h3>
                <a href="https://www.uir.ac.ma/fr/page/offre-residentielle">Offre résidentielle</a>
                <a href="https://www.uir.ac.ma/fr/page/restauration-1">Restauration</a>
                <a href="https://www.uir.ac.ma/fr/page/transports">Transports</a>
                <a href="https://www.uir.ac.ma/fr/page/autres-services">Autres Services</a>
                <a href="https://www.uir.ac.ma/fr/page/sante-et-bien-etre">Santé et Bien-étre</a>
                <a href="https://www.uir.ac.ma/fr/page/bibliotheque">Bibliothèque</a>
            </div>
            <div class="column">
                <h3>Liens utiles</h3>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                    <span style="margin-left: 10px;">Candidats</span>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                    <span style="margin-left: 10px;">Etudiants</span>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                    <span style="margin-left: 10px;">Parents</span>
                </a>
                <a href="#">
                    <i class="fab fa-youtube"></i>
                    <span style="margin-left: 10px;">Alumni</span>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                    <span style="margin-left: 10px;">Entreprises</span>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="foot-container">
            <p style="color: #a3b5ca; font-size: 14px;">© Copyright 2023 <span>UIR</span>. Tous droits réservés.</p>
            <a href="#">Conditions générales d'utilisation</a>
            <a href="#">Mentions légales</a>
            <a href="#">Plan du site</a>
            <a href="#">FAQ</a>
        </div>
    </div>
</div>