<!-- charge-form.component.html -->

<h1>Add New Event Charge</h1>

<mat-card class="form">
  <form [formGroup]="chargeForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="charge-form">
    <div>
      <label for="eventName">Event Name:</label>
      <mat-form-field appearance="fill">
        <mat-select formControlName="eventId">
          <mat-option *ngFor="let activity of events" [value]="activity.id">
            {{ activity.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <label for="totalCost">Total Cost:</label>
      <input type="number" id="totalCost" formControlName="totalCost" />
    </div>

    <div>
      <label for="earnings">Earnings:</label>
      <input type="number" id="earnings" formControlName="earnings" />
    </div>

    <div>
      <label for="file">Upload File:</label>
      <input type="file" id="file" formControlName="file" (change)="onFileChange($event)" />
    </div>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>