<!-- assignBudget.component.html -->

  <h1>Assign Budget to Clubs</h1>
  <mat-card>
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <table>
      <thead>
        <tr>
          <th>Club Name</th>
          <th>Budget</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let club of clubs">
          <td>{{ club.name }}</td>
          <td>
            <mat-form-field floatLabel="always">
              <input matInput type="number" formControlName="{{ club.id }}" class="example-right-align" placeholder="0">
              <span matTextSuffix>MAD</span>
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="assign-budget-button">
      <button mat-raised-button color="primary" type="submit">Assign Budget</button>
    </div>
  </form>
</mat-card>
