<div class="navBarStyle">
  <img
    src="https://www.uir.ac.ma/assets/_resources/img/mono-logo.png"
    alt="logo"
    width="80"
    height="80"
  />

  <!-- Todo Add spacing -->

  <div class="navUnlisted">
    <a [routerLink]="['/dashboard/meeting/create']" class="linkStyle"
      >Create Meeting</a
    >
    <a [routerLink]="['/dashboard/event/create']" class="linkStyle"
      >Create Event</a
    >
    <a [routerLink]="['/dashboard/club/create']" class="linkStyle"
      >Create Club</a
    >
  </div>
</div>
