<div class="container">
  <div class="heading">Clubs et organisations étudiantes</div>
  <div class="PStyle">
    Les Clubs et organisations étudiantes de l’UIR ont pour vocation de mener
    des actions étudiantes sur différents fronts : manifestations artistiques et
    culturelles, actions humanitaires, activités environnementales et
    volontariat.
  </div>
  <div class="PStyle">
    L’Université Internationale de Rabat a la fierté de compter 29 clubs
    étudiants affiliés à la Direction de la Vie Etudiante et qui contribuent à
    promouvoir l’expérience étudiante en participant à l’animation de leur
    campus et par conséquent, au rayonnement et au développement de leur
    communauté.
  </div>
  <div class="PStyle">
    Si vous avez un projet de Club qui ne figure pas sur la liste ci-dessous,
    vous pouvez effectuer une demande de création de Club auprès de Mr Rachid
    HADRE en envoyant un mail à : <a href="#">rachid.hadre&#64;uir.ac.ma</a>
  </div>
</div>
