.container {
  align-items: center;
  padding: 0px 15px 100px;
  text-align: justify;
  margin: 0px auto;
  max-width: 1200px;
  font-family: Montserrat, sans-serif;

  @media (min-width: 1200px) {
    width: 1170px;

    @media (min-width: 992px) {
      width: 97%;
    }
    @media (min-width: 768px) {
      width: 95%;
    }
    @media (min-width: 480px) {
      width: 95%;
    }
  }
}

.heading {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  color: #333;
}

.PStyle {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 17px;
  margin-bottom: 30px;
  color: rgb(119, 119, 119);
  font-family: Montserrat, sans-serif;
}

a {
  color: "#333333";
  fontsize: "17px";
  cursor: "pointer";
  fontweight: "bold";
  textdecoration: "underline";
}
