<div class="container">
  <h1 mat-dialog-title>Edit User</h1>
  <div>
    <p>Name: {{ data.name }}</p>
    <p>Current Role: {{ data.role_club }}</p>
    <p>Change role to:</p>
    <p-dropdown [options]="roleOptions" [(ngModel)]="data.role_club" optionLabel="value" placeholder="Select Role"></p-dropdown>

  </div>
  <div class="dialog-actions">
    <button mat-button mat-button mat-raised-button color="primary"  (click)="onNoClick()">Cancel</button>
    <button mat-button mat-raised-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
  </div>
</div>