.container{
    margin: 10px;
    display: flex;
    flex-direction: column;

}

.container h1 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.dialog-actions {
    display: flex;
}