<!-- app/admin-finance/admin-finance.component.html -->

<h1>Club Finance Management</h1>

<div class="finance-cards">
  <div class="finance-card" *ngFor="let card of cardList">
    <h3>{{ card.name }}</h3>
    <h2>{{ card.amount }}</h2>
    <!--<mat-icon>{{ card.icon }}</mat-icon>-->
  </div>
</div>

<div class="supp-Budget-button">
  <button mat-raised-button color="primary" (click)="navigateToASuppBudget()">Request a supplementary budget</button>
</div>

<div class="add-charge-button">
  <button mat-raised-button color="primary" (click)="navigateToAddCharget()">Add an event charge
  </button>
</div>

<div class="charges-table">
  <h2>Charges Table</h2>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Date</th>
          <th>Cost</th>
          <th>Earned</th>
          <th>Supplimentary budget</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of events">
          <td>{{ data.name }}</td>
          <td>{{ formatDate(data.date) }}</td>
          <td>{{ data.cost }}</td>
          <td>{{ data.earnings }}</td>
          <td>{{ data.supp_budget }}</td>
          <td>
            <button mat-raised-button (click)="openFile(data.url)">Open File</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>