<div class="">
  @for(msg of messages; track msg) { @if (msg.user_id == currentUser.id) {
  <span class="p-fluid">
    <p-card class="m-6 bg-blue-400" [header]="msg.userName">
      {{ msg.content }}
    </p-card>
  </span>
  } @else {
  <span class="p-fluid">
    <p-card class="m-6" header="test"> {{ msg.content }} </p-card>
  </span>
  } }
</div>

<div class="flex">
  <div class="flex-grow-1 p-fluid">
    <input
      type="text"
      pInputText
      placeholder="Send message"
      [(ngModel)]="message"
    />
  </div>
  <p-button
    label="Send"
    icon="pi pi-send"
    class="p-button-raised p-button-rounded ml-2"
    (onClick)="sendMessage()"
  ></p-button>
</div>
